<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891756904423-3ag4kqtg8bvtkled5ij9rqoov3pkq4d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891756904423-3ag4kqtg8bvtkled5ij9rqoov3pkq4d6</string>
	<key>API_KEY</key>
	<string>AIzaSyA2N0_Yua_SLdR3MB3z3c3gJEucXvVMz30</string>
	<key>GCM_SENDER_ID</key>
	<string>891756904423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirestore</string>
	<key>PROJECT_ID</key>
	<string>flutterfirestore-fa5ee</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirestore-fa5ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891756904423:ios:844d5c1200a78fb5a28742</string>
</dict>
</plist>